In [1]:
#This is the functional Version. Use this for creating the report
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#disable warnings
import warnings; warnings.simplefilter('ignore')

The source files for this script are SalesForce reports Interactions.Contacts.csv and Interactions.Opportunity.Term.csv. The source files have to be stored in a NON-GIT folder so that they will never be available to git hub. Whenever the source files are updated into box the old source files should be placed in a depreciated state in a different folder. This script therefore will always pull the most recent Salesforce report results.

In [3]:
#INT is the contact information for INTERACTIONS
#INT=pd.read_csv('C:/Users/mjc341/Desktop/UMAN 1507 Monthly INQ summary Report/Interactions.Contacts.csv',skipfooter=5,encoding='latin-1',engine ='python')
INT=pd.read_csv('C:/Users/sxh706/Desktop/Interactions.by.Month/2018/August/Interactions.Contacts1.csv',skipfooter=5,encoding='latin-1',engine ='python')

Please Use a new dataframe name if you are going to break any code

In [4]:
#CON is the CONTACT TERM information
#CON=pd.read_csv('C:/Users/mjc341/Desktop/UMAN 1507 Monthly INQ summary Report/Interactions.Opportunity.Term.csv',skipfooter=5,encoding='latin-1',engine ='python')
CON=pd.read_csv('C:/Users/sxh706/Desktop/Interactions.by.Month/2018/August/Interactions.Opportunity.Term.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [5]:
len(INT)

1321215

In [6]:
len(CON)

311677

In [7]:
#INT.info()

In [8]:
INT.columns

Index(['Contact: Contact ID (18-digit)', 'Interaction: Interaction Name',
       'Admit Type', 'Contact: EMPLID', 'Contact: First Name',
       'Contact: Middle Name', 'Contact: Last Name', 'Contact: Ethnic Group',
       'Contact: Ethnicity', 'Contact: Gender', 'Term', 'Lead Source',
       'Interaction: Created Date', 'Contact: Mailing Street',
       'Contact: Mailing City', 'Contact: Mailing State/Province',
       'Contact: Mailing Zip/Postal Code', 'Contact: Mailing Country',
       'Contact: Other City', 'Contact: Other State/Province',
       'Contact: Other Zip/Postal Code', 'Contact: Other Country',
       'Contact: Market Segment Code', 'Contact: Market Segment'],
      dtype='object')

In [9]:
CON.columns

Index(['Contact ID (18-digit)', 'Full Name', 'Opportunity Name',
       'Term: Term Name', 'Opportunity Record Type', 'Inquiry', 'Inquiry Date',
       'Opportunity ID (18-digit)', 'Empl ID', 'Application Number'],
      dtype='object')

In [10]:
#CON.info()

In [11]:
#remove columns with identifing info
CON = CON.drop(columns =['Full Name'])

In [12]:
#remove columns with identifing info
INT = INT.drop(columns= ['Contact: First Name', 'Contact: Middle Name',
       'Contact: Last Name'])

In [55]:
#changed the name of columns using a dictionary
INT = INT.rename(columns ={'Contact: Contact ID (18-digit)':'Contact_ID','Interaction: Interaction Name':'Int_Name',
       'Admit Type':'Admit_Type','Contact: EMPLID': 'EMPLID','Contact: Ethnic Group': 'Ethnic_Group', 'Contact: Ethnicity':'Ethnicity',
       'Contact: Gender':'Gender', 'Term':'Term', 'Lead Source':'Lead_Source', 'Interaction: Created Date':'Create_Date',
       'Contact: Mailing Street':'Mailing_Street', 'Contact: Mailing City':'Mailing_City',
       'Contact: Mailing State/Province':'Mailing_State', 'Contact: Mailing Zip/Postal Code':'Mailing_Postal',
       'Contact: Mailing Country':'Mailing_Country', 'Contact: Other City':'Other_City',
       'Contact: Other State/Province':'Other_State', 'Contact: Other Zip/Postal Code':'Other_Postal',
       'Contact: Other Country':'Mailing_Country', 'Contact: Market Segment Code':'Market_Segment_Code',
       'Contact: Market Segment':'Market_Segment'},inplace =False)

In [56]:
#changed the name of columns
CON = CON.rename(columns={  'Contact ID (18-digit)':'Contact_ID', 'Opportunity Name':'OppName', 
       'Term: Term Name':'CONTerm', 'Opportunity Record Type':'Record_Type', 'Inquiry':'Inquiry', 'Inquiry Date':'Inquiry_Date',
       'Opportunity ID (18-digit)':'Opp_ID', 'Empl ID':'EMPL', 'Application Number':'App_Number'})

In [57]:
#Sort INT by Contact_ID and Interaction Names
INT = INT.sort_values(by = ['Contact_ID','Int_Name'])

In [58]:
#Sort CON by Contact_ID and Opportunity Name
CON = CON.sort_values(by = ['Contact_ID','Inquiry_Date'])

In [59]:
#Dropping the duplicates to then merge later
CON=CON.drop_duplicates(['Contact_ID'], keep='last')

In [60]:
#Inner Join
INNER_INT = pd.merge(left = INT, right = CON, left_on= 'Contact_ID', right_on = 'Contact_ID')

In [61]:
len(INNER_INT)

458226

INT has been MERGED with CON on Contact_ID this will allow us to find one TERM for each contact ID

In [62]:
INNER_INT.head(1)

,Contact_ID,Int_Name,Admit_Type,EMPLID,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,...,Market_Segment_Code,Market_Segment,OppName,CONTerm,Record_Type,Inquiry,Inquiry_Date,Opp_ID,EMPL,App_Number
0,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,NaN,Female,Fall 2015,Purchased List,1/4/2013,...,NaN,NaN,fernandez - Fall 2017,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN

In [63]:
# Create a datetime variable from Create_Date this operation takes up to 3 min
#INT['Create_Date']= pd.to_datetime(INT.Create_Date)
INNER_INT['Create_Date']= pd.to_datetime(INNER_INT.Create_Date)

In [64]:
#INT.info()

In [65]:
#find earliest create date
#INT['Create_Date'].min()
INNER_INT['Create_Date'].min()

Timestamp('2001-08-06 00:00:00')

Here we will insert the lambda function to extract the YEAR and MONTH from the new datetime type so we can filter on YEAR and groupby MONTH also add M col that can be dictionaried to Names of MONTHS instead of numbers. Question can we format the month names at the conversion?

In [66]:
#INT.loc[:,'YEAR'] =INT['Create_Date'].apply(lambda x: "%d" % (x.year))
INNER_INT.loc[:,'YEAR'] =INNER_INT['Create_Date'].apply(lambda x: "%d" % (x.year))

In [67]:
#INT.loc[:,'MONTH'] = INT['Create_Date'].apply(lambda x: "%d" % (x.month))
INNER_INT.loc[:,'MONTH'] = INNER_INT['Create_Date'].apply(lambda x: "%d" % (x.month))

In [68]:
INNER_INT.head(1)

,Contact_ID,Int_Name,Admit_Type,EMPLID,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,...,OppName,CONTerm,Record_Type,Inquiry,Inquiry_Date,Opp_ID,EMPL,App_Number,YEAR,MONTH
0,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,NaN,Female,Fall 2015,Purchased List,2013-01-04,...,fernandez - Fall 2017,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN,2013,1

In [69]:
# filter on term for 2017,2018,2019,2020
#TERM2017 = INT.loc[(INT.Term == 'Fall 2017')]
#TERM2018 = INT.loc[(INT.Term == 'Fall 2018')]
#TERM2019 = INT.loc[(INT.Term == 'Fall 2019')]
#TERM2020 = INT.loc[(INT.Term == 'Fall 2020')]
TERM2017 = INNER_INT.loc[(INNER_INT.CONTerm == 'Fall 2017')]
TERM2018 = INNER_INT.loc[(INNER_INT.CONTerm == 'Fall 2018')]
TERM2019 = INNER_INT.loc[(INNER_INT.CONTerm == 'Fall 2019')]
TERM2020 = INNER_INT.loc[(INNER_INT.CONTerm == 'Fall 2020')]

In [70]:
len(TERM2017)

189224

In [71]:
len(TERM2018)

145471

In [72]:
len(TERM2019)

94526

In [73]:
len(TERM2020)

29005

In [74]:
#filter on YEAR for  2016,2017,2018,2019
#INQ2017 df is inquiries made in 2016 for 2017 TERM
INQ2017 = TERM2017[TERM2017['YEAR'] == '2016']
INQ2018 = TERM2018[TERM2018['YEAR'] == '2017']
INQ2019 = TERM2019[TERM2019['YEAR'] == '2018']
INQ2020 = TERM2020[TERM2020['YEAR'] == '2018']
INQ2017year2 = TERM2017[TERM2017['YEAR'] == '2017']
INQ2018year2 = TERM2018[TERM2018['YEAR'] == '2017']
INQ2019year2 = TERM2019[TERM2019['YEAR'] == '2018']

In [75]:
len(INQ2017)

102080

In [76]:
len(INQ2018)

86705

In [77]:
len(INQ2019)

65826

In [79]:
len(INQ2020)

22457

In [80]:
#show head of INQ2017 same for 2017,2018,2019
INQ2017.head(1)

,Contact_ID,Int_Name,Admit_Type,EMPLID,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,...,OppName,CONTerm,Record_Type,Inquiry,Inquiry_Date,Opp_ID,EMPL,App_Number,YEAR,MONTH
8,0031500001d4SiCAAU,20160320-0910984,New Student,50442768.0,NaN,Black/African American,Female,Fall 2017,Web Form,2016-01-12,...,Tetteh - Fall 2017,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T63qvAAB,50442768.0,NaN,2016,1

In [81]:
INQ2017.columns

Index(['Contact_ID', 'Int_Name', 'Admit_Type', 'EMPLID', 'Ethnic_Group',
       'Ethnicity', 'Gender', 'Term', 'Lead_Source', 'Create_Date',
       'Mailing_Street', 'Mailing_City', 'Mailing_State', 'Mailing_Postal',
       'Mailing_Country', 'Other_City', 'Other_State', 'Other_Postal',
       'Mailing_Country', 'Market_Segment_Code', 'Market_Segment', 'OppName',
       'CONTerm', 'Record_Type', 'Inquiry', 'Inquiry_Date', 'Opp_ID', 'EMPL',
       'App_Number', 'YEAR', 'MONTH'],
      dtype='object')

In [82]:
#confirm that filtered data is a datafram
type(INQ2017)

pandas.core.frame.DataFrame

In [83]:
#pd.show_versions()

In [84]:
#get count by month of each term
INQ2017.Create_Date.dt.month.value_counts().sort_index()

1      3984
2      5114
3      1774
4      1480
5      2640
6     12581
7     13036
8      2482
9      7802
10    18406
11    17748
12    15033
Name: Create_Date, dtype: int64

In [85]:
INQ2018.Create_Date.dt.month.value_counts().sort_index()

1      1879
2      3971
3      3629
4      3585
5     10626
6      7080
7      3832
8      5015
9      6027
10    20601
11    15515
12     4945
Name: Create_Date, dtype: int64

In [86]:
INQ2019.Create_Date.dt.month.value_counts().sort_index()

1     2398
2     2764
3    10210
4    11943
5     7028
6    11005
7     6810
8     2585
9    11083
Name: Create_Date, dtype: int64

In [87]:
#this creates a list for 2018 dates but will eventually have to be changed to 2019 dates
INQ2020.Create_Date.dt.month.value_counts().sort_index()

1      576
2      652
3    12068
4     2047
5     1358
6      686
7     3366
8      558
9     1146
Name: Create_Date, dtype: int64

In [88]:
#create a timestamp to get values from the FAll 2018 term that are prior to Jan 1 2017
#also created a timestamp for february and august values of the subsequent year of each opp term
#a current timestamp was also created as well as the Y-o-Y time stamps (12-15).
tsprior = pd.Timestamp('1/1/2016')
tsprior2 = pd.Timestamp('1/1/2017')
tsprior3 = pd.Timestamp('1/1/2018')
tsprior4 = pd.Timestamp('1/1/2019')
tsprior5 = pd.Timestamp('2/1/2017')
tsprior6 = pd.Timestamp('2/1/2018')
tsprior7 = pd.Timestamp('2/1/2019')
tsprior8 = pd.Timestamp('8/1/2017')
tsprior9 = pd.Timestamp('8/1/2018')
tsprior10 = pd.Timestamp('9/1/2019')
tsprior11 = pd.Timestamp('9/1/2018')
tsprior12 = pd.Timestamp('9/1/2017')
tsprior13 = pd.Timestamp('9/1/2016')

In [89]:
tsprior

Timestamp('2016-01-01 00:00:00')

In [90]:
B4JAN16 = TERM2017.loc[TERM2017.Create_Date < tsprior,:]
B4JAN17 = TERM2018.loc[TERM2018.Create_Date < tsprior2,:]
B4JAN18 = TERM2019.loc[TERM2019.Create_Date < tsprior3,:]
B4JAN19 = TERM2020.loc[TERM2020.Create_Date < tsprior3,:]
B4FEB17 = TERM2017.loc[TERM2017.Create_Date < tsprior5,:]
B4FEB18 = TERM2018.loc[TERM2018.Create_Date < tsprior6,:]
B4FEB19 = TERM2019.loc[TERM2019.Create_Date < tsprior7,:]
B4FEB20 = TERM2020.loc[TERM2020.Create_Date < tsprior7,:]
B4AUG17 = TERM2017.loc[TERM2017.Create_Date < tsprior8,:]
B4AUG18 = TERM2018.loc[TERM2018.Create_Date < tsprior9,:]
TOTAL2017 = TERM2017.loc[TERM2017.Create_Date < tsprior10,:]
TOTAL2018 = TERM2018.loc[TERM2018.Create_Date < tsprior10,:]
TOTAL2019 = TERM2019.loc[TERM2019.Create_Date < tsprior10,:]
TOTAL2020 = TERM2020.loc[TERM2020.Create_Date < tsprior10,:]
YoY2017 = TERM2017.loc[TERM2017.Create_Date < tsprior13,:]
YoY2018 = TERM2018.loc[TERM2018.Create_Date < tsprior12,:]
YoY2019 = TERM2019.loc[TERM2019.Create_Date < tsprior11,:]

In [91]:
len(B4JAN16)

63373

In [92]:
len(B4JAN17)

37679

In [93]:
len(B4JAN18)

28700

In [94]:
len(B4JAN19)

6548

In [95]:
#test the counts
B4JAN16['Contact_ID'].value_counts().sum()
#B4JAN17['Contact_ID'].value_counts().sum()
#B4JAN18['Contact_ID'].value_counts().sum()
#B4JAN19['Contact_ID'].value_counts().sum()
#B4FEB17['Contact_ID'].value_counts().sum()
#B4FEB18['Contact_ID'].value_counts().sum()
#B4FEB19['Contact_ID'].value_counts().sum()
#B4FEB20['Contact_ID'].value_counts().sum()
#B4AUG17['Contact_ID'].value_counts().sum()
#B4AUG18['Contact_ID'].value_counts().sum()
#TOTAL2017['Contact_ID'].value_counts().sum()
#TOTAL2018['Contact_ID'].value_counts().sum()
#TOTAL2019['Contact_ID'].value_counts().sum()
#TOTAL2020['Contact_ID'].value_counts().sum()

63373

In [96]:
#B4JAN19['Contact_ID'].value_counts().sum()

In [97]:
R17 = INQ2017.Create_Date.dt.month.value_counts().sort_index()
R18 = INQ2018.Create_Date.dt.month.value_counts().sort_index()
R19 = INQ2019.Create_Date.dt.month.value_counts().sort_index()
R20 = INQ2020.Create_Date.dt.month.value_counts().sort_index()

In [98]:
R17df = pd.DataFrame([R17]).T
R18df = pd.DataFrame([R18]).T
R19df = pd.DataFrame([R19]).T
R20df = pd.DataFrame([R20]).T

In [99]:
#R16df.head()

In [100]:
a =R17df.rename({'Create_Date': 'Count-2016'}, axis = 'columns')
#R16df.rename({'Create_Date': 'Count-2016'}, axis = 'columns')

In [101]:
b = R18df.rename({'Create_Date': 'Count-2017'}, axis = 'columns')
#R17df.rename({'Create_Date': 'Count-2017'}, axis = 'columns')

In [102]:
#R18df.rename({'Create_Date': 'Count-2018'}, axis = 'columns')
c = R19df.rename({'Create_Date': 'Count-2018'}, axis = 'columns')

In [103]:
d = R20df.rename({'Create_Date': 'Count-2018'}, axis = 'columns')

In [104]:
j = pd.concat([a, b], axis=1, join_axes=[a.index])

In [105]:
#j.head(1)

In [106]:
k = pd.concat([j, c], axis=1, join_axes=[a.index])

In [107]:
k2 = pd.concat([k, d], axis=1, join_axes=[a.index])

In [108]:
k2.head()

   Count-2016  Count-2017  Count-2018  Count-2018
1        3984        1879      2398.0       576.0
2        5114        3971      2764.0       652.0
3        1774        3629     10210.0     12068.0
4        1480        3585     11943.0      2047.0
5        2640       10626      7028.0      1358.0

In [109]:
#k.head()

In [110]:
type(k2)

pandas.core.frame.DataFrame

In [111]:
k2.dtypes

Count-2016      int64
Count-2017      int64
Count-2018    float64
Count-2018    float64
dtype: object

In [112]:
k =  k2.replace(np.nan,0)

In [113]:
k['Count-2018'] = k['Count-2018'].astype(int)
k

    Count-2016  Count-2017  Count-2018  Count-2018
1         3984        1879        2398         576
2         5114        3971        2764         652
3         1774        3629       10210       12068
4         1480        3585       11943        2047
5         2640       10626        7028        1358
6        12581        7080       11005         686
7        13036        3832        6810        3366
8         2482        5015        2585         558
9         7802        6027       11083        1146
10       18406       20601           0           0
11       17748       15515           0           0
12       15033        4945           0           0

In [114]:
#k.dtypes

In [115]:
k.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [116]:
# create  a dictionary to map the month values
dict = {1:'JAN',2:'FEB',3:'MAR',4:'APR',5:'MAY',6:'JUN',7:'JUL',8:'AUG',9:'SEP',10:'OCT',11:'NOV',12:'DEC'}

In [117]:
#map the dictionary to the new col on index
k ['MONTH'] = k.index.map(dict)

In [118]:
k

    Count-2016  Count-2017  Count-2018  Count-2018 MONTH
1         3984        1879        2398         576   JAN
2         5114        3971        2764         652   FEB
3         1774        3629       10210       12068   MAR
4         1480        3585       11943        2047   APR
5         2640       10626        7028        1358   MAY
6        12581        7080       11005         686   JUN
7        13036        3832        6810        3366   JUL
8         2482        5015        2585         558   AUG
9         7802        6027       11083        1146   SEP
10       18406       20601           0           0   OCT
11       17748       15515           0           0   NOV
12       15033        4945           0           0   DEC

In [119]:
#change the name of the df and rearrange the cols
INQbyMONTH = k[['MONTH','Count-2016','Count-2017','Count-2018']]

In [120]:
#this is the result
INQbyMONTH

   MONTH  Count-2016  Count-2017  Count-2018  Count-2018
1    JAN        3984        1879        2398         576
2    FEB        5114        3971        2764         652
3    MAR        1774        3629       10210       12068
4    APR        1480        3585       11943        2047
5    MAY        2640       10626        7028        1358
6    JUN       12581        7080       11005         686
7    JUL       13036        3832        6810        3366
8    AUG        2482        5015        2585         558
9    SEP        7802        6027       11083        1146
10   OCT       18406       20601           0           0
11   NOV       17748       15515           0           0
12   DEC       15033        4945           0           0

In [121]:
#it is a df
type(INQbyMONTH)

pandas.core.frame.DataFrame

In [122]:
#before January values
a = B4JAN16['Contact_ID'].value_counts().sum()
b = B4JAN17['Contact_ID'].value_counts().sum()
c = B4JAN18['Contact_ID'].value_counts().sum()
d = B4JAN19['Contact_ID'].value_counts().sum()

In [123]:
PRIOR = pd.DataFrame({'Prior to Jan 2016': a , 'Prior to Jan 2017': b , 'Prior to Jan 2018': c, 'Prior to Jan 2018.2': d},index = [0])

In [124]:
PRIOR

,Prior to Jan 2016,Prior to Jan 2017,Prior to Jan 2018,Prior to Jan 2018.2
0,63373,37679,28700,6548

In [125]:
#before February values
e = B4FEB17['Contact_ID'].value_counts().sum()
f = B4FEB18['Contact_ID'].value_counts().sum()

In [126]:
PRIOR2 = pd.DataFrame({'Prior to Feb 2017': e , 'Prior to Feb 2018': f },index = [0])

In [127]:
PRIOR2

   Prior to Feb 2017  Prior to Feb 2018
0             174233             133281

In [128]:
#before August values
g = B4AUG17['Contact_ID'].value_counts().sum()
h = B4AUG18['Contact_ID'].value_counts().sum()

In [129]:
PRIOR3 = pd.DataFrame({'Prior to Aug 2017': g , 'Prior to Aug 2018': h },index = [0])

In [130]:
PRIOR3

   Prior to Aug 2017  Prior to Aug 2018
0             187382             145252

In [131]:
#current values
i = TOTAL2017['Contact_ID'].value_counts().sum()
j = TOTAL2018['Contact_ID'].value_counts().sum()
k = TOTAL2019['Contact_ID'].value_counts().sum()
l = TOTAL2020['Contact_ID'].value_counts().sum()

In [132]:
TOTAL4 = pd.DataFrame({'Total 2017': i , 'Total 2018': j, 'Total 2019': k, 'Total 2020': l},index = [0])

In [133]:
TOTAL4

   Total 2017  Total 2018  Total 2019  Total 2020
0      189224      145471       94526       29005

In [134]:
#create a df for the y-o-y comparison of 2017, 2018, and 2019. #redundant???
#tspriorFEB17 = pd.Timestamp('2/1/2017')
#tspriorFEB18 = pd.Timestamp ('2/1/2018')
#tspriorFEB19 = pd.Timestamp('2/1/2019')
#tspriorAUG17 = pd.Timestamp('8/1/2017')
#tspriorAUG18 = pd.Timestamp ('8/1/2018')
#tspriorAUG19 = pd.Timestamp('8/1/2019')
#tsJUN312017 = pd.Timestamp('6/30/2017')
#tsJUN312018 = pd.Timestamp('6/30/2018')
#tsJUN312019 = pd.Timestamp('6/30/2019')

In [135]:
#LeadSource Counts for AdmitTerm 2017 that occured in 2016
LEAD17 = YoY2017.pivot_table(index=['Lead_Source'],values =['Contact_ID'],aggfunc =len)
LEAD17.rename(index= str, columns={'Contact_ID':'2017'},inplace =True)
LEAD17

                                   2017
Lead_Source
Admission Conversion                 31
College Fair                      10554
College Visit                        13
Education Fair                       10
Email                               211
Event Registration                 9738
Financial Aid                       130
Group Tour                            4
High School Visit                  4263
Initiated Application               807
International Travel                257
Lead Card                           353
Legacy Admission Alumni Form          5
Legacy Admission Student Form         4
Letter of Recommendation              1
Office Visit                        161
Other                              3286
Phone                                32
Purchased List                    49948
Resume                                1
Royal Short Mailing List Form        47
Submitted Test Score              17186
Submitted Transcript                  3
UGrad Campus Visit Check-in Form    571
Web Form                           8830

In [136]:
#LeadSource Counts for AdmitTerm 2018 that occured in 2017
LEAD18 = YoY2018.pivot_table(index=['Lead_Source'],values =['Contact_ID'],aggfunc =len)
LEAD18.rename(index= str, columns={'Contact_ID':'2018'},inplace =True)
LEAD18

                                   2018
Lead_Source
Admission Conversion                 21
College Fair                      10432
College Visit                        27
Education Fair                        8
Email                                84
Event Registration                10558
Financial Aid                         6
Group Tour                          405
High School Visit                  3326
Initiated Application               241
International Travel                 41
Lead Card                           243
Legacy Admission Alumni Form          1
Office Visit                        180
Other                               425
Phone                                 4
Purchased List                    29900
Royal Short Mailing List Form         4
Search Responder                    317
Submitted Test Score              12440
Submitted Transcript                  1
UGrad Campus Visit Check-in Form     96
Virtual Tour                        405
Web Form                           8127

In [137]:
#LeadSource Counts for AdmitTerm 2019 that occured in 2018
LEAD19 = YoY2019.pivot_table(index=['Lead_Source'],values =['Contact_ID'],aggfunc =len)
LEAD19.rename(index= str, columns={'Contact_ID':'2019'},inplace =True)
LEAD19

                                   2019
Lead_Source
Admission Conversion                  4
College Fair                      10104
College Visit                        12
Education Fair                       12
Email                                32
Event Registration                12495
Financial Aid                         5
Group Tour                          476
High School Visit                  2791
Initiated Application                31
International Travel                  1
Lead Card                           199
Office Visit                        364
Other                                11
Phone                                 2
Professional Association              1
Professional Conference               1
Purchased List                    22088
Search Responder                   8375
Submitted Test Score              16908
UGrad Campus Visit Check-in Form     14
Virtual                             104
Virtual Tour                       1090
Web Form                           8323

In [138]:
LEAD1 = pd.concat([LEAD17, LEAD18], axis=1, join_axes=[LEAD18.index])
LEAD1

                                     2017   2018
Lead_Source
Admission Conversion                 31.0     21
College Fair                      10554.0  10432
College Visit                        13.0     27
Education Fair                       10.0      8
Email                               211.0     84
Event Registration                 9738.0  10558
Financial Aid                       130.0      6
Group Tour                            4.0    405
High School Visit                  4263.0   3326
Initiated Application               807.0    241
International Travel                257.0     41
Lead Card                           353.0    243
Legacy Admission Alumni Form          5.0      1
Office Visit                        161.0    180
Other                              3286.0    425
Phone                                32.0      4
Purchased List                    49948.0  29900
Royal Short Mailing List Form        47.0      4
Search Responder                      NaN    317
Submitted Test Score              17186.0  12440
Submitted Transcript                  3.0      1
UGrad Campus Visit Check-in Form    571.0     96
Virtual Tour                          NaN    405
Web Form                           8830.0   8127

In [139]:
Lead2 = pd.concat([LEAD1, LEAD19], axis=1, join_axes=[LEAD18.index])
Lead2

                                     2017   2018     2019
Lead_Source
Admission Conversion                 31.0     21      4.0
College Fair                      10554.0  10432  10104.0
College Visit                        13.0     27     12.0
Education Fair                       10.0      8     12.0
Email                               211.0     84     32.0
Event Registration                 9738.0  10558  12495.0
Financial Aid                       130.0      6      5.0
Group Tour                            4.0    405    476.0
High School Visit                  4263.0   3326   2791.0
Initiated Application               807.0    241     31.0
International Travel                257.0     41      1.0
Lead Card                           353.0    243    199.0
Legacy Admission Alumni Form          5.0      1      NaN
Office Visit                        161.0    180    364.0
Other                              3286.0    425     11.0
Phone                                32.0      4      2.0
Purchased List                    49948.0  29900  22088.0
Royal Short Mailing List Form        47.0      4      NaN
Search Responder                      NaN    317   8375.0
Submitted Test Score              17186.0  12440  16908.0
Submitted Transcript                  3.0      1      NaN
UGrad Campus Visit Check-in Form    571.0     96     14.0
Virtual Tour                          NaN    405   1090.0
Web Form                           8830.0   8127   8323.0

In [140]:
LEAD = Lead2.fillna(0)
LEAD['2018'] = LEAD['2018'].astype(int)
LEAD['2019'] = LEAD['2019'].astype(int)
LEAD

                                     2017   2018   2019
Lead_Source
Admission Conversion                 31.0     21      4
College Fair                      10554.0  10432  10104
College Visit                        13.0     27     12
Education Fair                       10.0      8     12
Email                               211.0     84     32
Event Registration                 9738.0  10558  12495
Financial Aid                       130.0      6      5
Group Tour                            4.0    405    476
High School Visit                  4263.0   3326   2791
Initiated Application               807.0    241     31
International Travel                257.0     41      1
Lead Card                           353.0    243    199
Legacy Admission Alumni Form          5.0      1      0
Office Visit                        161.0    180    364
Other                              3286.0    425     11
Phone                                32.0      4      2
Purchased List                    49948.0  29900  22088
Royal Short Mailing List Form        47.0      4      0
Search Responder                      0.0    317   8375
Submitted Test Score              17186.0  12440  16908
Submitted Transcript                  3.0      1      0
UGrad Campus Visit Check-in Form    571.0     96     14
Virtual Tour                          0.0    405   1090
Web Form                           8830.0   8127   8323

In [141]:
#Count all Inq for the 2017 Admit term that occured before August of 2017  #Redundant???
#B4AUG17 = TERM2017.loc[TERM2017.Create_Date <= tspriorAUG17,:]
#len(B4AUG17)

In [142]:
#Count all Inq for the 2018 Admit term that occured before August of 2018 #Redundant???
#B4AUG18 = TERM2018.loc[TERM2018.Create_Date <= tspriorAUG18,:]
#len(B4AUG18)

In [109]:
# create the path where the results willbe sent
path_final = r'C:/Users/sxh706/Desktop'

In [110]:
path_final

'C:/Users/sxh706/Desktop'

In [112]:
writer = pd.ExcelWriter(path_final + '/' + 'SalesForceByMonth1' + '.xlsx')
INQbyMONTH.to_excel(writer,'Results')
PRIOR.to_excel(writer, 'PRIOR')
PRIOR2.to_excel(writer, 'PRIOR2')
PRIOR3.to_excel(writer, 'PRIOR3')
TOTAL4.to_excel(writer, 'TOTAL4')

LEAD.to_excel(writer,'LEAD')
workbook = writer.book
worksheet = writer.sheets['Results'] 
worksheet2 = writer.sheets ['PRIOR']
worksheet3 = writer.sheets ['PRIOR2']
worksheet4 = writer.sheets ['PRIOR3']
worksheet5 = writer.sheets ['TOTAL4']
worksheet6 = writer.sheets ['LEAD']

format1 = workbook.add_format({'num_format': '#,##', 'bold': True, 'border': '1'})
format2 = workbook.add_format({'num_format': '##,###', 'border': '1','bg_color':'#FFC7CE'})
format3 = workbook.add_format({'border': '1','bg_color':'#DAF7A6'})
format4 = workbook.add_format({'border': '1','bg_color':'#DAF7A6'})
#added bkground color so we can show different years

# Note: It isn't possible to format any cells that already have a format such
# as the index or headers or any cells that contain dates or datetimes.

worksheet.set_column('A:A', 10)
worksheet.set_column('B:E', 12)
worksheet.set_row(1, None, format2)
worksheet.set_row(2, None, format2)
worksheet.set_row(3, None, format2)
worksheet.set_row(4, None, format2)
worksheet.set_row(5, None, format2)
worksheet.set_row(6, None, format2)
worksheet.set_row(7, None, format2)
worksheet.set_row(8, None, format2)
worksheet.set_row(9, None, format2)
worksheet.set_row(10, None, format2)
worksheet.set_row(11, None, format2)
worksheet.set_row(12, None, format2)

worksheet2.set_column('A:A', 10)
worksheet2.set_column('B:E', 18)
worksheet2.set_row(1, None, format3)
worksheet2.set_row(2, None, format4)

worksheet3.set_column('A:A', 10)
worksheet3.set_column('B:C', 18)
worksheet3.set_row(1, None, format3)
worksheet3.set_row(2, None, format4)

worksheet4.set_column('A:A', 10)
worksheet4.set_column('B:C', 18)
worksheet4.set_row(1, None, format3)
worksheet4.set_row(2, None, format4)

worksheet5.set_column('A:A', 10)
worksheet5.set_column('B:E', 18)
worksheet5.set_row(1, None, format3)
worksheet5.set_row(2, None, format4)

worksheet6.set_column('A:A', 10)
worksheet6.set_column('B:E', 18)
worksheet6.set_row(1, None, format3)
worksheet6.set_row(2, None, format4)
worksheet6.set_row(3, None, format4)
worksheet6.set_row(4, None, format4)
worksheet6.set_row(5, None, format4)
worksheet6.set_row(6, None, format4)
worksheet6.set_row(7, None, format4)
worksheet6.set_row(8, None, format4)
worksheet6.set_row(9, None, format4)
worksheet6.set_row(10, None, format4)
worksheet6.set_row(11, None, format4)
worksheet6.set_row(12, None, format4)
worksheet6.set_row(13, None, format4)
worksheet6.set_row(14, None, format4)
worksheet6.set_row(15, None, format4)
worksheet6.set_row(16, None, format4)
worksheet6.set_row(17, None, format4)
worksheet6.set_row(18, None, format4)
worksheet6.set_row(19, None, format4)
worksheet6.set_row(20, None, format4)


#dont write until you check the code then remove the # below
writer.save()

In [143]:
len(INNER_INT)

458226

In [144]:
INNER_INT.head(1)

,Contact_ID,Int_Name,Admit_Type,EMPLID,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,...,OppName,CONTerm,Record_Type,Inquiry,Inquiry_Date,Opp_ID,EMPL,App_Number,YEAR,MONTH
0,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,NaN,Female,Fall 2015,Purchased List,2013-01-04,...,fernandez - Fall 2017,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN,2013,1

In [ ]:
# do i need this step
# INNER_INT['ETH'] = ''

In [183]:
INNER_INT.head(5)

,Contact_ID,Int_Name,Admit_Type,EMPLID,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,...,CONTerm,Record_Type,Inquiry,Inquiry_Date,Opp_ID,EMPL,App_Number,YEAR,MONTH,ETH
0,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,NaN,Female,Fall 2015,Purchased List,2013-01-04,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN,2013,1,
1,0031500001d4Si8AAE,20160320-1020622,New Student,NaN,NaN,NaN,Female,Fall 2017,College Fair,2015-11-19,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN,2015,11,
2,0031500001d4Si9AAE,20160320-0159926,New Student,NaN,NaN,Hispanic,Female,Fall 2016,UGrad Campus Visit Check-in Form,2013-03-28,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T6242AAB,NaN,NaN,2013,3,
3,0031500001d4Si9AAE,20160320-0835174,New Student,NaN,NaN,Hispanic,Female,Fall 2017,Purchased List,2015-10-26,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T6242AAB,NaN,NaN,2015,10,
4,0031500001d4SiAAAU,20160320-0162751,New Student,NaN,NaN,NaN,Male,Fall 2015,UGrad Campus Visit Check-in Form,2013-06-27,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T64znAAB,NaN,NaN,2013,6,

In [199]:
INNER_INT['ETH'] = np.where(INNER_INT['Ethnic_Group'] == np.nan, INNER_INT['Ethnicity'], INNER_INT['Ethnic_Group'])

In [200]:
INNER_INT.head(15)

,Contact_ID,Int_Name,Admit_Type,EMPLID,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,...,CONTerm,Record_Type,Inquiry,Inquiry_Date,Opp_ID,EMPL,App_Number,YEAR,MONTH,ETH
0,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,NaN,Female,Fall 2015,Purchased List,2013-01-04,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN,2013,1,NaN
1,0031500001d4Si8AAE,20160320-1020622,New Student,NaN,NaN,NaN,Female,Fall 2017,College Fair,2015-11-19,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T62QTAAZ,NaN,NaN,2015,11,NaN
2,0031500001d4Si9AAE,20160320-0159926,New Student,NaN,NaN,Hispanic,Female,Fall 2016,UGrad Campus Visit Check-in Form,2013-03-28,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T6242AAB,NaN,NaN,2013,3,NaN
3,0031500001d4Si9AAE,20160320-0835174,New Student,NaN,NaN,Hispanic,Female,Fall 2017,Purchased List,2015-10-26,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T6242AAB,NaN,NaN,2015,10,NaN
4,0031500001d4SiAAAU,20160320-0162751,New Student,NaN,NaN,NaN,Male,Fall 2015,UGrad Campus Visit Check-in Form,2013-06-27,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T64znAAB,NaN,NaN,2013,6,NaN
5,0031500001d4SiAAAU,20160320-0527268,New Student,NaN,NaN,NaN,Male,Fall 2017,Web Form,2014-09-24,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T64znAAB,NaN,NaN,2014,9,NaN
6,0031500001d4SiBAAU,20160320-0286945,New Student,NaN,NaN,Black/African American,Male,Summer 2017,Lead Card,2014-01-14,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T630XAAR,NaN,NaN,2014,1,NaN
7,0031500001d4SiBAAU,20160320-0545933,New Student,NaN,NaN,Black/African American,Male,Fall 2017,College Fair,2014-10-20,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T630XAAR,NaN,NaN,2014,10,NaN
8,0031500001d4SiCAAU,20160320-0910984,New Student,50442768.0,NaN,Black/African American,Female,Fall 2017,Web Form,2016-01-12,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T63qvAAB,50442768.0,NaN,2016,1,NaN
9,0031500001d4SiCAAU,20160320-0934970,New Student,50442768.0,NaN,Black/African American,Female,Fall 2014,Web Form,2013-10-02,...,Fall 2017,UGrad Inquiry,1,3/21/2016,0061500000T63qvAAB,50442768.0,NaN,2013,10,NaN
10,0031500001d4SiDAAU,20160320-0264706,New Student,54136731.0,WHITE,NaN,Female,Fall 2017,Legacy Admission Student Form,2013-10-08,...,Fall 2017,UGrad Applicant,1,3/21/2016,0061500000T5FsmAAF,54136731.0,254117.0,2013,10,WHITE
11,0031500001d4SiDAAU,20160320-0514663,New Student,54136731.0,WHITE,NaN,Female,Fall 2017,Event Registration,2014-08-05,...,Fall 2017,UGrad Applicant,1,3/21/2016,0061500000T5FsmAAF,54136731.0,254117.0,2014,8,WHITE
12,0031500001d4SiDAAU,20160320-0860930,New Student,54136731.0,WHITE,NaN,Female,Fall 2017,College Fair,2015-11-10,...,Fall 2017,UGrad Applicant,1,3/21/2016,0061500000T5FsmAAF,54136731.0,254117.0,2015,11,WHITE
13,0031500001d4SiDAAU,20160611-1282195,New Student,54136731.0,WHITE,NaN,Female,Fall 2017,Event Registration,2016-06-11,...,Fall 2017,UGrad Applicant,1,3/21/2016,0061500000T5FsmAAF,54136731.0,254117.0,2016,6,WHITE
14,0031500001d4SiDAAU,20161004-1356147,New Student,54136731.0,WHITE,NaN,Female,Fall 2017,Submitted Test Score,2016-10-04,...,Fall 2017,UGrad Applicant,1,3/21/2016,0061500000T5FsmAAF,54136731.0,254117.0,2016,10,WHITE